/** @format */

.container {
  width: 16rem;
  height: 13.5rem;
  margin: 3rem auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.overlay_click_outside {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  font-weight: 500;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.card_header > span {
  width: 85%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card_sub_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  margin-top: 0.1rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  position: relative;
}

.card_body {
  font-size: 0.9rem;
  line-height: 1.5;
  height: 50%;
  padding: 0.5rem;
  color: #495057;
}

.card_body > p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* number of line we want */
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card_footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -1.5rem;
  padding-right: 1.5rem;
}

.dropdown_wrapper {
  position: absolute;
  margin-top: 2rem;
}
