/** @format */

.container {
  width: 25rem;
  height: 18rem;
  margin: 3rem auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  font-weight: 500;
  padding: 0.5rem;
}

.card_sub_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  margin-top: 1rem;
  padding: 0.5rem;
}

.card_body {
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 0.3rem auto;
  height: 50%;
  border: 1px solid red;

  padding: 0.5rem;
}

.card_body > p {
  background-color: green;

  overflow: hidden;

  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card_footer {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
