/** @format */

/* Px ,em , rem

1rem = 16px
1rem = 10px // Chat applications / widget applications
media queries
View port 1024px
*/

.container {
  font-size: 1.3rem;
  text-transform: capitalize;
  /* width: 35rem; */
  /* margin: 3rem auto; */
}

.container > label {
  font-size: 1rem;
  display: block;
  font-weight: 500;
  margin-left: 0.2rem;
}

.container > input {
  display: block;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

.error_message {
  display: block;
  color: #e03131;
  font-weight: 500;
  font-size: 0.95rem;
  text-transform: lowercase !important;
  margin-left: 0.2rem;
  margin-top: 0.5rem;
}

.checkbox_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 15rem; */
  width: 40%;
  margin-top: 2rem; /* Material Design 2rem for checkbox and radio buttons*/
}

.checkbox_container > label {
  font-size: 1rem;
  display: block;
  font-weight: 500;
  margin-left: 0.2rem;
  padding-left: 0.3rem;
}

.required_icon {
  color: #e03131;
}
