/** @format */

.container {
  position: relative;
}

.dropDown {
  position: absolute;
  top: 1.5rem;
  left: -1.8rem;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5rem;
  overflow: hidden;
  z-index: 5;
}

.action_item {
  padding: 0.5rem;
  border-bottom: 1px solid;
  font-size: 0.8rem;
}

.action_item:last-child {
  border: none;
}

.action_item:hover {
  cursor: pointer;
  font-weight: 500;
  background-color: #e9ecef;
  transition: all 0.5s ease-in;
}
