/** @format */

.container {
  width: 6rem;
  position: relative;
  z-index: 4;
  cursor: pointer;
}

.overlay_click {
  position: absolute;
  inset: 0;
}

.input_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
  font-size: 0.9rem;
}

.input_container > span {
  width: 85%;
  word-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dropdown_container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 35;
  transform: translateY(3rem);
}

.dropdown_container > p {
  text-transform: capitalize;
  padding: 0.5rem;
  background-color: white;
  border-bottom: 1px solid;
}
.dropdown_container > p:hover {
  background-color: #dee2e6;
  font-weight: 500;
  transition: all 0.5s ease-in;
  cursor: pointer;
}
