/** @format */

.button_container {
  display: inline-block;
  padding: 0.6rem;
  font-size: 1rem;
  color: #ffffff;
  text-transform: capitalize;
  background-color: #4c6ef5;
  border-radius: 0.5rem;
  border: none;
  /* margin: auto 0.3rem; */
}

.button_container:hover {
  cursor: pointer;
  color: #4c6ef5;
  outline: 1px solid #4c6ef5;
  background-color: #ffffff;
  font-weight: 600;
  transition: all 0.3s ease-in;
}

.button_container_alt {
  cursor: pointer;
  display: inline-block;
  padding: 0.6rem;
  font-size: 1rem;
  color: #4c6ef5;
  text-transform: capitalize;
  background-color: #ffffff;
  border-radius: 0.5rem;
  outline: 1px solid #4c6ef5;
  border: none;
  /* margin: auto 0.3rem; */
}
